.main {
  padding: 50px;
}

.table-body-scrollable {
  max-height: 300px; 
  overflow-y: auto; 
}

.modal-content {
  width: 125%;
  margin-left: -9%;
}

.deleteSelected{
  display:none
}

.modal-dialog {
  max-width: 50%;
}